# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
.*
!.gitignore
!.github
!.goreleaser.yaml

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
history.txt
config.yaml
keybindings.json
event.json
commands.md
dist/

